In [33]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt

In [34]:
df= pd.read_csv(r"C:\analysis\pr a 2\kickstarter_projects.csv")

In [35]:
df.describe()

                 ID          Goal       Pledged        Backers
count  3.748530e+05  3.748530e+05  3.748530e+05  374853.000000
mean   1.074656e+09  4.586378e+04  9.121073e+03     106.690359
std    6.191377e+08  1.158778e+06  9.132054e+04     911.718520
min    5.971000e+03  0.000000e+00  0.000000e+00       0.000000
25%    5.380728e+08  2.000000e+03  3.100000e+01       2.000000
50%    1.075300e+09  5.500000e+03  6.250000e+02      12.000000
75%    1.610149e+09  1.600000e+04  4.051000e+03      57.000000
max    2.147476e+09  1.663614e+08  2.033899e+07  219382.000000

In [36]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 374853 entries, 0 to 374852
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   ID           374853 non-null  int64
 1   Name         374853 non-null  str
 2   Category     374853 non-null  str
 3   Subcategory  374853 non-null  str
 4   Country      374853 non-null  str
 5   Launched     374853 non-null  str
 6   Deadline     374853 non-null  str
 7   Goal         374853 non-null  int64
 8   Pledged      374853 non-null  int64
 9   Backers      374853 non-null  int64
 10  State        374853 non-null  str
dtypes: int64(4), str(7)
memory usage: 67.4 MB

In [37]:
df.duplicated().sum()

np.int64(0)

In [38]:
df.isnull().sum()

ID             0
Name           0
Category       0
Subcategory    0
Country        0
Launched       0
Deadline       0
Goal           0
Pledged        0
Backers        0
State          0
dtype: int64

In [39]:
df

,ID,Name,Category,Subcategory,Country,Launched,Deadline,Goal,Pledged,Backers,State
0,1860890148,Grace Jones Does Not Give A F$#% T-Shirt (limi...,Fashion,Fashion,United States,2009-04-21 21:02:48,2009-05-31,1000,625,30,Failed
1,709707365,CRYSTAL ANTLERS UNTITLED MOVIE,Film & Video,Shorts,United States,2009-04-23 00:07:53,2009-07-20,80000,22,3,Failed
2,1703704063,drawing for dollars,Art,Illustration,United States,2009-04-24 21:52:03,2009-05-03,20,35,3,Successful
3,727286,Offline Wikipedia iPhone app,Technology,Software,United States,2009-04-25 17:36:21,2009-07-14,99,145,25,Successful
4,1622952265,Pantshirts,Fashion,Fashion,United States,2009-04-27 14:10:39,2009-05-26,1900,387,10,Failed
...,...,...,...,...,...,...,...,...,...,...,...
374848,1486845240,Americas Got Talent - Serious MAK,Music,Hip-Hop,United States,2018-01-02 14:13:09,2018-01-16,500,0,0,Live
374849,974738310,EVO Planner: The World's First Personalized Fl...,Design,Product Design,United States,2018-01-02 14:15:38,2018-02-09,15000,269,8,Live
374850,2106246194,"Help save La Gattara, Arizona's first Cat Cafe!",Food,Food,United States,2018-01-02 14:17:46,2018-01-16,10000,165,3,Live
374851,1830173355,Digital Dagger Coin,Art,Art,United States,2018-01-02 14:38:17,2018-02-01,650,7,1,Live
374852,1339173863,Spirits of the Forest,Games,Tabletop Games,Spain,2018-01-02 15:02:31,2018-01-26,24274,4483,82,Live

In [40]:
df["Launched"] = pd.to_datetime(df["Launched"])

In [41]:
df["Deadline"] = pd.to_datetime(df["Deadline"])

In [42]:
df["launched_date"]=df["Launched"].dt.date
df["Launched_time"]=df["Launched"].dt.time

In [43]:
df.describe(include='all')
for i in df.columns:
    print('\n===============(',i,')===============\n')
    print(df[i].unique())

===============( ID )===============

[1860890148  709707365 1703704063 ... 2106246194 1830173355 1339173863]

===============( Name )===============

<ArrowStringArray>
[                 'Grace Jones Does Not Give A F$#% T-Shirt (limited Edition) ',
                                               'CRYSTAL ANTLERS UNTITLED MOVIE',
                                                          'drawing for dollars',
                                                 'Offline Wikipedia iPhone app',
                                                                   'Pantshirts',
                                                      'New York Makes a Book!!',
                                               'Web Site for Short Horror Film',
                                               'Help me write my second novel.',
                                                    'Produce a Play (Canceled)',
 'Sponsor Dereck Blackburn (Lostwars) Artist in Residence in Kankakee Illinois',
 ...
                                  'Printable Tabletop Terrain for Ancient Rome',
                                                       'Forge In YOUR OWN Fire',
                               'T.P.Customs, traditionally Handcrafted guitars',
                                               'A New Miss Eaves EP (& Videos)',
                                                      'Carl Sagan Quote Prints',
                                            'Americas Got Talent - Serious MAK',
                      'EVO Planner: The World's First Personalized Flow System',
                              'Help save La Gattara, Arizona's first Cat Cafe!',
                                                          'Digital Dagger Coin',
                                                        'Spirits of the Forest']
Length: 372061, dtype: str

===============( Category )===============

<ArrowStringArray>
[     'Fashion', 'Film & Video',          'Art',   'Technology',
   'Journalism',   'Publishing',      'Theater',        'Music',
  'Photography',        'Games',       'Design',         'Food',
       'Crafts',       'Comics',        'Dance']
Length: 15, dtype: str

===============( Subcategory )===============

<ArrowStringArray>
[        'Fashion',          'Shorts',    'Illustration',        'Software',
      'Journalism',         'Fiction',         'Theater',            'Rock',
     'Photography',         'Puzzles',
 ...
       'Wearables',     'Small Batch',           'Farms',          'Action',
    'Performances',   'Playing Cards',    'Mobile Games',       'Taxidermy',
           'Print', 'Literary Spaces']
Length: 159, dtype: str

===============( Country )===============

<ArrowStringArray>
[ 'United States', 'United Kingdom',         'Canada',      'Australia',
    'New Zealand',   'Netherlands ',         'Sweden',        'Denmark',
         'Norway',        'Ireland',        'Germany',         'France',
          'Spain',        'Belgium',          'Italy',    'Switzerland',
        'Austria',     'Luxembourg',      'Singapore',      'Hong Kong',
         'Mexico',          'Japan']
Length: 22, dtype: str

===============( Launched )===============

<DatetimeArray>
['2009-04-21 21:02:48', '2009-04-23 00:07:53', '2009-04-24 21:52:03',
 '2009-04-25 17:36:21', '2009-04-27 14:10:39', '2009-04-28 13:55:41',
 '2009-04-29 02:04:21', '2009-04-29 02:58:50', '2009-04-29 04:37:37',
 '2009-04-29 05:26:32',
 ...
 '2018-01-02 12:45:34', '2018-01-02 13:02:29', '2018-01-02 13:11:02',
 '2018-01-02 14:04:11', '2018-01-02 14:07:02', '2018-01-02 14:13:09',
 '2018-01-02 14:15:38', '2018-01-02 14:17:46', '2018-01-02 14:38:17',
 '2018-01-02 15:02:31']
Length: 374297, dtype: datetime64[us]

===============( Deadline )===============

<DatetimeArray>
['2009-05-31 00:00:00', '2009-07-20 00:00:00', '2009-05-03 00:00:00',
 '2009-07-14 00:00:00', '2009-05-26 00:00:00', '2009-05-16 00:00:00',
 '2009-05-29 00:00:00', '2009-06-01 00:00:00', '2009-06-17 00:00:00',
 '2009-06-30 00:00:00',
 ...
 '2018-02-22 00:00:00', '2018-02-23 00:00:00', '2018-02-24 00:00:00',
 '2018-02-25 00:00:00', '2018-02-26 00:00:00', '2018-02-27 00:00:00',
 '2018-02-28 00:00:00', '2018-03-01 00:00:00', '2018-03-02 00:00:00',
 '2018-03-03 00:00:00']
Length: 3164, dtype: datetime64[us]

===============( Goal )===============

[  1000  80000     20 ...  82409 279615  35427]

===============( Pledged )===============

[   625     22     35 ... 104345  63445  42799]

===============( Backers )===============

[  30    3   25 ... 2835 2267 3229]

===============( State )===============

<ArrowStringArray>
['Failed', 'Successful', 'Canceled', 'Suspended', 'Live']
Length: 5, dtype: str

===============( launched_date )===============

[datetime.date(2009, 4, 21) datetime.date(2009, 4, 23)
 datetime.date(2009, 4, 24) ... datetime.date(2017, 12, 31)
 datetime.date(2018, 1, 1) datetime.date(2018, 1, 2)]

===============( Launched_time )===============

[datetime.time(21, 2, 48) datetime.time(0, 7, 53) datetime.time(21, 52, 3)
 ... datetime.time(13, 1, 15) datetime.time(10, 20, 39)
 datetime.time(10, 54, 33)]

In [44]:
df["State"]=df["State"].replace({'Canceled':'Failed','Suspended':'Failed'})

In [45]:
df["State"].unique()

<ArrowStringArray>
['Failed', 'Successful', 'Live']
Length: 3, dtype: str

In [46]:
df

,ID,Name,Category,Subcategory,Country,Launched,Deadline,Goal,Pledged,Backers,State,launched_date,Launched_time
0,1860890148,Grace Jones Does Not Give A F$#% T-Shirt (limi...,Fashion,Fashion,United States,2009-04-21 21:02:48,2009-05-31,1000,625,30,Failed,2009-04-21,21:02:48
1,709707365,CRYSTAL ANTLERS UNTITLED MOVIE,Film & Video,Shorts,United States,2009-04-23 00:07:53,2009-07-20,80000,22,3,Failed,2009-04-23,00:07:53
2,1703704063,drawing for dollars,Art,Illustration,United States,2009-04-24 21:52:03,2009-05-03,20,35,3,Successful,2009-04-24,21:52:03
3,727286,Offline Wikipedia iPhone app,Technology,Software,United States,2009-04-25 17:36:21,2009-07-14,99,145,25,Successful,2009-04-25,17:36:21
4,1622952265,Pantshirts,Fashion,Fashion,United States,2009-04-27 14:10:39,2009-05-26,1900,387,10,Failed,2009-04-27,14:10:39
...,...,...,...,...,...,...,...,...,...,...,...,...,...
374848,1486845240,Americas Got Talent - Serious MAK,Music,Hip-Hop,United States,2018-01-02 14:13:09,2018-01-16,500,0,0,Live,2018-01-02,14:13:09
374849,974738310,EVO Planner: The World's First Personalized Fl...,Design,Product Design,United States,2018-01-02 14:15:38,2018-02-09,15000,269,8,Live,2018-01-02,14:15:38
374850,2106246194,"Help save La Gattara, Arizona's first Cat Cafe!",Food,Food,United States,2018-01-02 14:17:46,2018-01-16,10000,165,3,Live,2018-01-02,14:17:46
374851,1830173355,Digital Dagger Coin,Art,Art,United States,2018-01-02 14:38:17,2018-02-01,650,7,1,Live,2018-01-02,14:38:17
374852,1339173863,Spirits of the Forest,Games,Tabletop Games,Spain,2018-01-02 15:02:31,2018-01-26,24274,4483,82,Live,2018-01-02,15:02:31

In [47]:
df = df.drop(columns =["Launched"])

In [48]:
df.columns

Index(['ID', 'Name', 'Category', 'Subcategory', 'Country', 'Deadline', 'Goal',
       'Pledged', 'Backers', 'State', 'launched_date', 'Launched_time'],
      dtype='str')

In [49]:
df = df.loc[:,['ID', 'Name', 'Category', 'Subcategory', 'Country','launched_date', 'Launched_time', 'Deadline', 'Goal','Pledged', 'Backers', 'State']]

In [50]:
df

,ID,Name,Category,Subcategory,Country,launched_date,Launched_time,Deadline,Goal,Pledged,Backers,State
0,1860890148,Grace Jones Does Not Give A F$#% T-Shirt (limi...,Fashion,Fashion,United States,2009-04-21,21:02:48,2009-05-31,1000,625,30,Failed
1,709707365,CRYSTAL ANTLERS UNTITLED MOVIE,Film & Video,Shorts,United States,2009-04-23,00:07:53,2009-07-20,80000,22,3,Failed
2,1703704063,drawing for dollars,Art,Illustration,United States,2009-04-24,21:52:03,2009-05-03,20,35,3,Successful
3,727286,Offline Wikipedia iPhone app,Technology,Software,United States,2009-04-25,17:36:21,2009-07-14,99,145,25,Successful
4,1622952265,Pantshirts,Fashion,Fashion,United States,2009-04-27,14:10:39,2009-05-26,1900,387,10,Failed
...,...,...,...,...,...,...,...,...,...,...,...,...
374848,1486845240,Americas Got Talent - Serious MAK,Music,Hip-Hop,United States,2018-01-02,14:13:09,2018-01-16,500,0,0,Live
374849,974738310,EVO Planner: The World's First Personalized Fl...,Design,Product Design,United States,2018-01-02,14:15:38,2018-02-09,15000,269,8,Live
374850,2106246194,"Help save La Gattara, Arizona's first Cat Cafe!",Food,Food,United States,2018-01-02,14:17:46,2018-01-16,10000,165,3,Live
374851,1830173355,Digital Dagger Coin,Art,Art,United States,2018-01-02,14:38:17,2018-02-01,650,7,1,Live
374852,1339173863,Spirits of the Forest,Games,Tabletop Games,Spain,2018-01-02,15:02:31,2018-01-26,24274,4483,82,Live

In [54]:
df.to_csv("startup_analysis.csv", index=False)